{% include "header.html"%}
{% include "navbar.html"%}
{% load static %}
<html >
{% comment %} <head>
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static  'css/style.css'%}" >
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head> {% endcomment %}
<body>
    {% block content %}
    <div>
        this is syntax page
    </div>
    {% endblock %}
</body>

<script>
    // Hide messages after 4 seconds
    $(document).ready(function(){
        setTimeout(function(){
            $('.alert').fadeOut('slow');
        }, 4000); // 4000ms = 4 seconds
    });
</script>







</html>